BudgetAnalyser.Engine/bin/Debug/Autofac.dll
BudgetAnalyser.Engine/bin/Debug/Autofac.xml
BudgetAnalyser.Engine/bin/Debug/BudgetAnalyser.Engine.dll
BudgetAnalyser.Engine/bin/Debug/BudgetAnalyser.Engine.dll.CodeAnalysisLog.xml
BudgetAnalyser.Engine/bin/Debug/BudgetAnalyser.Engine.dll.lastcodeanalysissucceeded
BudgetAnalyser.Engine/bin/Debug/BudgetAnalyser.Engine.pdb
BudgetAnalyser.Engine/bin/Debug/Rees.UserInteraction.Contracts.dll
BudgetAnalyser.Engine/bin/Debug/Rees.UserInteraction.Contracts.xml
BudgetAnalyser.Engine/obj/Debug/BudgetAnalyser.Engine.csproj.FileListAbsolute.txt
BudgetAnalyser.Engine/obj/Debug/BudgetAnalyser.Engine.csprojResolveAssemblyReference.cache
BudgetAnalyser.Engine/obj/Debug/BudgetAnalyser.Engine.dll
BudgetAnalyser.Engine/obj/Debug/BudgetAnalyser.Engine.pdb
BudgetAnalyser.Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BudgetAnalyser.Engine/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BudgetAnalyser.Engine/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BudgetAnalyser.Engine/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BudgetAnalyser.UnitTest/bin/Debug/Autofac.dll
BudgetAnalyser.UnitTest/bin/Debug/Autofac.xml
BudgetAnalyser.UnitTest/bin/Debug/BudgetAnalyser.Engine.dll
BudgetAnalyser.UnitTest/bin/Debug/BudgetAnalyser.Engine.pdb
BudgetAnalyser.UnitTest/bin/Debug/BudgetAnalyser.UnitTest.dll
BudgetAnalyser.UnitTest/bin/Debug/BudgetAnalyser.UnitTest.pdb
BudgetAnalyser.UnitTest/bin/Debug/GalaSoft.MvvmLight.WPF45.dll
BudgetAnalyser.UnitTest/bin/Debug/GalaSoft.MvvmLight.WPF45.pdb
BudgetAnalyser.UnitTest/bin/Debug/GalaSoft.MvvmLight.WPF45.xml
BudgetAnalyser.UnitTest/bin/Debug/Moq.dll
BudgetAnalyser.UnitTest/bin/Debug/Moq.pdb
BudgetAnalyser.UnitTest/bin/Debug/Moq.xml
BudgetAnalyser.UnitTest/bin/Debug/Rees.UserInteraction.Contracts.dll
BudgetAnalyser.UnitTest/bin/Debug/Rees.UserInteraction.Contracts.xml
BudgetAnalyser.UnitTest/obj/Debug/BudgetAnalyser.UnitTest.csproj.FileListAbsolute.txt
BudgetAnalyser.UnitTest/obj/Debug/BudgetAnalyser.UnitTest.csprojResolveAssemblyReference.cache
BudgetAnalyser.UnitTest/obj/Debug/BudgetAnalyser.UnitTest.dll
BudgetAnalyser.UnitTest/obj/Debug/BudgetAnalyser.UnitTest.pdb
BudgetAnalyser.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BudgetAnalyser.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BudgetAnalyser.UnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BudgetAnalyser.UnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BudgetAnalyser.v12.suo
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Autofac.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Autofac.xml
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.Engine.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.Engine.pdb
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.exe
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.pdb
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.Wpf.UnitTest.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.Wpf.UnitTest.dll.config
BudgetAnalyser.Wpf.UnitTest/bin/Debug/BudgetAnalyser.Wpf.UnitTest.pdb
BudgetAnalyser.Wpf.UnitTest/bin/Debug/GalaSoft.MvvmLight.WPF45.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/GalaSoft.MvvmLight.WPF45.pdb
BudgetAnalyser.Wpf.UnitTest/bin/Debug/GalaSoft.MvvmLight.WPF45.xml
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Moq.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Moq.pdb
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Moq.xml
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Rees.UserInteraction.Contracts.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Rees.UserInteraction.Contracts.xml
BudgetAnalyser.Wpf.UnitTest/bin/Debug/Rees.Wpf.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/System.Windows.Controls.DataVisualization.Toolkit.dll
BudgetAnalyser.Wpf.UnitTest/bin/Debug/WPFToolkit.dll
BudgetAnalyser.Wpf.UnitTest/obj/Debug/BudgetAnalyser.Wpf.UnitTest.csproj.FileListAbsolute.txt
BudgetAnalyser.Wpf.UnitTest/obj/Debug/BudgetAnalyser.Wpf.UnitTest.csprojResolveAssemblyReference.cache
BudgetAnalyser.Wpf.UnitTest/obj/Debug/BudgetAnalyser.Wpf.UnitTest.dll
BudgetAnalyser.Wpf.UnitTest/obj/Debug/BudgetAnalyser.Wpf.UnitTest.pdb
BudgetAnalyser.Wpf.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BudgetAnalyser.Wpf.UnitTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BudgetAnalyser.Wpf.UnitTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BudgetAnalyser.Wpf.UnitTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BudgetAnalyser/bin/Debug/Autofac.dll
BudgetAnalyser/bin/Debug/Autofac.xml
BudgetAnalyser/bin/Debug/BudgetAnalyser.Engine.dll
BudgetAnalyser/bin/Debug/BudgetAnalyser.Engine.pdb
BudgetAnalyser/bin/Debug/BudgetAnalyser.exe
BudgetAnalyser/bin/Debug/BudgetAnalyser.exe.CodeAnalysisLog.xml
BudgetAnalyser/bin/Debug/BudgetAnalyser.exe.config
BudgetAnalyser/bin/Debug/BudgetAnalyser.exe.lastcodeanalysissucceeded
BudgetAnalyser/bin/Debug/BudgetAnalyser.pdb
BudgetAnalyser/bin/Debug/BudgetAnalyser.vshost.exe
BudgetAnalyser/bin/Debug/BudgetAnalyser.vshost.exe.config
BudgetAnalyser/bin/Debug/BudgetAnalyser.vshost.exe.manifest
BudgetAnalyser/bin/Debug/GalaSoft.MvvmLight.Extras.WPF45.dll
BudgetAnalyser/bin/Debug/GalaSoft.MvvmLight.Extras.WPF45.pdb
BudgetAnalyser/bin/Debug/GalaSoft.MvvmLight.Extras.WPF45.xml
BudgetAnalyser/bin/Debug/GalaSoft.MvvmLight.WPF45.dll
BudgetAnalyser/bin/Debug/GalaSoft.MvvmLight.WPF45.pdb
BudgetAnalyser/bin/Debug/GalaSoft.MvvmLight.WPF45.xml
BudgetAnalyser/bin/Debug/Microsoft.Practices.ServiceLocation.dll
BudgetAnalyser/bin/Debug/Microsoft.Practices.ServiceLocation.pdb
BudgetAnalyser/bin/Debug/Microsoft.Practices.ServiceLocation.xml
BudgetAnalyser/bin/Debug/Rees.UserInteraction.Contracts.dll
BudgetAnalyser/bin/Debug/Rees.UserInteraction.Contracts.xml
BudgetAnalyser/bin/Debug/Rees.Wpf.dll
BudgetAnalyser/bin/Debug/System.Windows.Controls.DataVisualization.Toolkit.dll
BudgetAnalyser/bin/Debug/System.Windows.Interactivity.dll
BudgetAnalyser/bin/Debug/System.Windows.Interactivity.xml
BudgetAnalyser/bin/Debug/WPFToolkit.dll
BudgetAnalyser/obj/Debug/App.baml
BudgetAnalyser/obj/Debug/App.g.cs
BudgetAnalyser/obj/Debug/App.g.i.cs
BudgetAnalyser/obj/Debug/Budget/BudgetDetailsView.baml
BudgetAnalyser/obj/Debug/Budget/BudgetDetailsView.g.cs
BudgetAnalyser/obj/Debug/Budget/BudgetDetailsView.g.i.cs
BudgetAnalyser/obj/Debug/Budget/BudgetMaintenance.baml
BudgetAnalyser/obj/Debug/Budget/BudgetMaintenance.g.cs
BudgetAnalyser/obj/Debug/Budget/BudgetMaintenance.g.i.cs
BudgetAnalyser/obj/Debug/Budget/BudgetModelNameUserControl.baml
BudgetAnalyser/obj/Debug/Budget/BudgetModelNameUserControl.g.cs
BudgetAnalyser/obj/Debug/Budget/BudgetModelNameUserControl.g.i.cs
BudgetAnalyser/obj/Debug/Budget/BudgetPie.baml
BudgetAnalyser/obj/Debug/Budget/BudgetPie.g.cs
BudgetAnalyser/obj/Debug/Budget/BudgetPie.g.i.cs
BudgetAnalyser/obj/Debug/Budget/BudgetSelectionView.baml
BudgetAnalyser/obj/Debug/Budget/BudgetSelectionView.g.cs
BudgetAnalyser/obj/Debug/Budget/BudgetSelectionView.g.i.cs
BudgetAnalyser/obj/Debug/Budget/ChooseBudgetBucketUserControl.baml
BudgetAnalyser/obj/Debug/Budget/ChooseBudgetBucketUserControl.g.cs
BudgetAnalyser/obj/Debug/Budget/ChooseBudgetBucketUserControl.g.i.cs
BudgetAnalyser/obj/Debug/BudgetAnalyser.csproj.FileListAbsolute.txt
BudgetAnalyser/obj/Debug/BudgetAnalyser.csproj.GenerateResource.Cache
BudgetAnalyser/obj/Debug/BudgetAnalyser.csprojResolveAssemblyReference.cache
BudgetAnalyser/obj/Debug/BudgetAnalyser.exe
BudgetAnalyser/obj/Debug/BudgetAnalyser.g.resources
BudgetAnalyser/obj/Debug/BudgetAnalyser.pdb
BudgetAnalyser/obj/Debug/BudgetAnalyser.Properties.Resources.resources
BudgetAnalyser/obj/Debug/BudgetAnalyser_MarkupCompile.cache
BudgetAnalyser/obj/Debug/BudgetAnalyser_MarkupCompile.i.cache
BudgetAnalyser/obj/Debug/BudgetAnalyser_MarkupCompile.lref
BudgetAnalyser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BudgetAnalyser/obj/Debug/Filtering/GlobalAccountTypeFilterView.baml
BudgetAnalyser/obj/Debug/Filtering/GlobalAccountTypeFilterView.g.cs
BudgetAnalyser/obj/Debug/Filtering/GlobalAccountTypeFilterView.g.i.cs
BudgetAnalyser/obj/Debug/Filtering/GlobalDateFilterView.baml
BudgetAnalyser/obj/Debug/Filtering/GlobalDateFilterView.g.cs
BudgetAnalyser/obj/Debug/Filtering/GlobalDateFilterView.g.i.cs
BudgetAnalyser/obj/Debug/GeneratedInternalTypeHelper.g.cs
BudgetAnalyser/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
BudgetAnalyser/obj/Debug/InputBox.baml
BudgetAnalyser/obj/Debug/InputBox.g.cs
BudgetAnalyser/obj/Debug/InputBox.g.i.cs
BudgetAnalyser/obj/Debug/LedgerBook/AddLedgerReconciliationUserControl.baml
BudgetAnalyser/obj/Debug/LedgerBook/AddLedgerReconciliationUserControl.g.cs
BudgetAnalyser/obj/Debug/LedgerBook/AddLedgerReconciliationUserControl.g.i.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerBookUserControl.baml
BudgetAnalyser/obj/Debug/LedgerBook/LedgerBookUserControl.g.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerBookUserControl.g.i.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerRemarksUserControl.baml
BudgetAnalyser/obj/Debug/LedgerBook/LedgerRemarksUserControl.g.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerRemarksUserControl.g.i.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerTransactionsUserControl.baml
BudgetAnalyser/obj/Debug/LedgerBook/LedgerTransactionsUserControl.g.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerTransactionsUserControl.g.i.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerTransactionUserControl.baml
BudgetAnalyser/obj/Debug/LedgerBook/LedgerTransactionUserControl.g.cs
BudgetAnalyser/obj/Debug/LedgerBook/LedgerTransactionUserControl.g.i.cs
BudgetAnalyser/obj/Debug/OverallPerformance/BudgetAnalysisView.baml
BudgetAnalyser/obj/Debug/OverallPerformance/BudgetAnalysisView.g.cs
BudgetAnalyser/obj/Debug/OverallPerformance/BudgetAnalysisView.g.i.cs
BudgetAnalyser/obj/Debug/Shell.baml
BudgetAnalyser/obj/Debug/Shell.g.cs
BudgetAnalyser/obj/Debug/Shell.g.i.cs
BudgetAnalyser/obj/Debug/SpendingTrend/AddUserDefinedSpendingChartDialog.baml
BudgetAnalyser/obj/Debug/SpendingTrend/AddUserDefinedSpendingChartDialog.g.cs
BudgetAnalyser/obj/Debug/SpendingTrend/AddUserDefinedSpendingChartDialog.g.i.cs
BudgetAnalyser/obj/Debug/SpendingTrend/BucketSpendingLineChart.baml
BudgetAnalyser/obj/Debug/SpendingTrend/BucketSpendingLineChart.g.cs
BudgetAnalyser/obj/Debug/SpendingTrend/BucketSpendingLineChart.g.i.cs
BudgetAnalyser/obj/Debug/SpendingTrend/SpendingTrendView.baml
BudgetAnalyser/obj/Debug/SpendingTrend/SpendingTrendView.g.cs
BudgetAnalyser/obj/Debug/SpendingTrend/SpendingTrendView.g.i.cs
BudgetAnalyser/obj/Debug/Statement/CreateNewRuleView.baml
BudgetAnalyser/obj/Debug/Statement/CreateNewRuleView.g.cs
BudgetAnalyser/obj/Debug/Statement/CreateNewRuleView.g.i.cs
BudgetAnalyser/obj/Debug/Statement/LoadFileView.baml
BudgetAnalyser/obj/Debug/Statement/LoadFileView.g.cs
BudgetAnalyser/obj/Debug/Statement/LoadFileView.g.i.cs
BudgetAnalyser/obj/Debug/Statement/MaintainRulesView.baml
BudgetAnalyser/obj/Debug/Statement/MaintainRulesView.g.cs
BudgetAnalyser/obj/Debug/Statement/MaintainRulesView.g.i.cs
BudgetAnalyser/obj/Debug/Statement/StatementUserControl.baml
BudgetAnalyser/obj/Debug/Statement/StatementUserControl.g.cs
BudgetAnalyser/obj/Debug/Statement/StatementUserControl.g.i.cs
BudgetAnalyser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BudgetAnalyser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BudgetAnalyser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BudgetAnalyser/obj/Debug/UI/Style/Buttons.baml
BudgetAnalyser/obj/Debug/UI/Style/Colours.baml
BudgetAnalyser/obj/Debug/UI/Style/ComboBox.baml
BudgetAnalyser/obj/Debug/UI/Style/DatePicker.baml
BudgetAnalyser/obj/Debug/UI/Style/ListBox.baml
BudgetAnalyser/obj/Debug/UI/Style/ListView.baml
BudgetAnalyser/obj/Debug/UI/Style/OilLight.baml
BudgetAnalyser/obj/Debug/UI/Style/ScrollBar.baml
BudgetAnalyser/obj/Debug/UI/Style/TextBlock.baml
BudgetAnalyser/obj/Debug/UI/Style/TextBox.baml
BudgetAnalyser/obj/Debug/UI/Style/ToolTip.baml
BudgetAnalyser/obj/Debug/UI/Style/TransactionListBox.baml
BudgetAnalyser/Rees.Biz.snk
packages/Autofac.3.3.0/Autofac.3.3.0.nupkg
packages/Autofac.3.3.0/Autofac.3.3.0.nuspec
packages/Autofac.3.3.0/lib/net40/Autofac.dll
packages/Autofac.3.3.0/lib/net40/Autofac.xml
packages/Autofac.3.3.0/lib/portable-win+net40+sl50+wp8/Autofac.dll
packages/Autofac.3.3.0/lib/portable-win+net40+sl50+wp8/Autofac.xml
packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nupkg
packages/CommonServiceLocator.1.0/CommonServiceLocator.1.0.nuspec
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.dll
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.pdb
packages/CommonServiceLocator.1.0/lib/NET35/Microsoft.Practices.ServiceLocation.XML
packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.dll
packages/CommonServiceLocator.1.0/lib/SL30/Microsoft.Practices.ServiceLocation.XML
packages/Moq.4.0.10827/lib/NET35/Moq.dll
packages/Moq.4.0.10827/lib/NET35/Moq.pdb
packages/Moq.4.0.10827/lib/NET35/Moq.xml
packages/Moq.4.0.10827/lib/NET40/Moq.dll
packages/Moq.4.0.10827/lib/NET40/Moq.pdb
packages/Moq.4.0.10827/lib/NET40/Moq.xml
packages/Moq.4.0.10827/lib/Silverlight4/Castle.Core.dll
packages/Moq.4.0.10827/lib/Silverlight4/Moq.Silverlight.dll
packages/Moq.4.0.10827/lib/Silverlight4/Moq.Silverlight.pdb
packages/Moq.4.0.10827/lib/Silverlight4/Moq.Silverlight.xml
packages/Moq.4.0.10827/License.txt
packages/Moq.4.0.10827/Moq.4.0.10827.nupkg
packages/Moq.4.0.10827/Moq.4.0.10827.nuspec
packages/Moq.4.0.10827/Moq.chm
packages/MvvmLightLibs.4.2.30.0/lib/net35/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.4.2.30.0/lib/net35/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.4.2.30.0/lib/net35/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.4.2.30.0/lib/net35/GalaSoft.MvvmLight.Extras.xml
packages/MvvmLightLibs.4.2.30.0/lib/net35/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.4.2.30.0/lib/net35/GalaSoft.MvvmLight.xml
packages/MvvmLightLibs.4.2.30.0/lib/net35/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/lib/net35/System.Windows.Interactivity.xml
packages/MvvmLightLibs.4.2.30.0/lib/net40/GalaSoft.MvvmLight.Extras.WPF4.dll
packages/MvvmLightLibs.4.2.30.0/lib/net40/GalaSoft.MvvmLight.Extras.WPF4.pdb
packages/MvvmLightLibs.4.2.30.0/lib/net40/GalaSoft.MvvmLight.Extras.WPF4.xml
packages/MvvmLightLibs.4.2.30.0/lib/net40/GalaSoft.MvvmLight.WPF4.dll
packages/MvvmLightLibs.4.2.30.0/lib/net40/GalaSoft.MvvmLight.WPF4.pdb
packages/MvvmLightLibs.4.2.30.0/lib/net40/GalaSoft.MvvmLight.WPF4.xml
packages/MvvmLightLibs.4.2.30.0/lib/net40/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/lib/net40/System.Windows.Interactivity.xml
packages/MvvmLightLibs.4.2.30.0/lib/net45/GalaSoft.MvvmLight.Extras.WPF45.dll
packages/MvvmLightLibs.4.2.30.0/lib/net45/GalaSoft.MvvmLight.Extras.WPF45.pdb
packages/MvvmLightLibs.4.2.30.0/lib/net45/GalaSoft.MvvmLight.Extras.WPF45.xml
packages/MvvmLightLibs.4.2.30.0/lib/net45/GalaSoft.MvvmLight.WPF45.dll
packages/MvvmLightLibs.4.2.30.0/lib/net45/GalaSoft.MvvmLight.WPF45.pdb
packages/MvvmLightLibs.4.2.30.0/lib/net45/GalaSoft.MvvmLight.WPF45.xml
packages/MvvmLightLibs.4.2.30.0/lib/net45/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/lib/net45/System.Windows.Interactivity.xml
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Extras.Win8.dll
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Extras.Win8.pdb
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Extras.Win8.pri
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Extras.Win8.xml
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Win8.dll
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Win8.pdb
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Win8.pri
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/GalaSoft.MvvmLight.Win8.xml
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/Microsoft.Practices.ServiceLocation.dll
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/Microsoft.Practices.ServiceLocation.pdb
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/Microsoft.Practices.ServiceLocation.pri
packages/MvvmLightLibs.4.2.30.0/lib/netcore45/Microsoft.Practices.ServiceLocation.xml
packages/MvvmLightLibs.4.2.30.0/lib/SL4/GalaSoft.MvvmLight.Extras.SL4.dll
packages/MvvmLightLibs.4.2.30.0/lib/SL4/GalaSoft.MvvmLight.Extras.SL4.pdb
packages/MvvmLightLibs.4.2.30.0/lib/SL4/GalaSoft.MvvmLight.Extras.SL4.xml
packages/MvvmLightLibs.4.2.30.0/lib/SL4/GalaSoft.MvvmLight.SL4.dll
packages/MvvmLightLibs.4.2.30.0/lib/SL4/GalaSoft.MvvmLight.SL4.pdb
packages/MvvmLightLibs.4.2.30.0/lib/SL4/GalaSoft.MvvmLight.SL4.xml
packages/MvvmLightLibs.4.2.30.0/lib/SL4/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/lib/SL4/System.Windows.Interactivity.xml
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/GalaSoft.MvvmLight.Extras.WP71.dll
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/GalaSoft.MvvmLight.Extras.WP71.pdb
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/GalaSoft.MvvmLight.Extras.WP71.xml
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/GalaSoft.MvvmLight.WP71.dll
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/GalaSoft.MvvmLight.WP71.pdb
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/GalaSoft.MvvmLight.WP71.xml
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/Microsoft.Practices.ServiceLocation.dll
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/Microsoft.Practices.ServiceLocation.xml
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/lib/sl4-wp71/System.Windows.Interactivity.xml
packages/MvvmLightLibs.4.2.30.0/lib/SL5/GalaSoft.MvvmLight.Extras.SL5.dll
packages/MvvmLightLibs.4.2.30.0/lib/SL5/GalaSoft.MvvmLight.Extras.SL5.pdb
packages/MvvmLightLibs.4.2.30.0/lib/SL5/GalaSoft.MvvmLight.Extras.SL5.xml
packages/MvvmLightLibs.4.2.30.0/lib/SL5/GalaSoft.MvvmLight.SL5.dll
packages/MvvmLightLibs.4.2.30.0/lib/SL5/GalaSoft.MvvmLight.SL5.pdb
packages/MvvmLightLibs.4.2.30.0/lib/SL5/GalaSoft.MvvmLight.SL5.xml
packages/MvvmLightLibs.4.2.30.0/lib/SL5/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/lib/SL5/System.Windows.Interactivity.xml
packages/MvvmLightLibs.4.2.30.0/lib/wp8/GalaSoft.MvvmLight.Extras.WP8.dll
packages/MvvmLightLibs.4.2.30.0/lib/wp8/GalaSoft.MvvmLight.Extras.WP8.pdb
packages/MvvmLightLibs.4.2.30.0/lib/wp8/GalaSoft.MvvmLight.Extras.WP8.xml
packages/MvvmLightLibs.4.2.30.0/lib/wp8/GalaSoft.MvvmLight.WP8.dll
packages/MvvmLightLibs.4.2.30.0/lib/wp8/GalaSoft.MvvmLight.WP8.pdb
packages/MvvmLightLibs.4.2.30.0/lib/wp8/GalaSoft.MvvmLight.WP8.xml
packages/MvvmLightLibs.4.2.30.0/lib/wp8/Microsoft.Practices.ServiceLocation.dll
packages/MvvmLightLibs.4.2.30.0/lib/wp8/Microsoft.Practices.ServiceLocation.xml
packages/MvvmLightLibs.4.2.30.0/lib/wp8/System.Windows.Interactivity.dll
packages/MvvmLightLibs.4.2.30.0/MvvmLightLibs.4.2.30.0.nupkg
packages/MvvmLightLibs.4.2.30.0/MvvmLightLibs.4.2.30.0.nuspec
packages/structuremap.2.6.4.1/lib/net40/StructureMap.dll
packages/structuremap.2.6.4.1/lib/net40/StructureMap.pdb
packages/structuremap.2.6.4.1/lib/net40/StructureMap.XML
packages/structuremap.2.6.4.1/structuremap.2.6.4.1.nupkg
packages/structuremap.2.6.4.1/structuremap.2.6.4.1.nuspec
