<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!-- Logging config -->
  <log4net>
    <!-- Debug Log Appender -->
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5.5thread%6.6level %35.35logger:[%4.4thread] %message %newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value=".\BudgetAnalyserDiag.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <immediateFlush value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!-- Use with caution - has 10-20% performance impact. Allows easier copying of files at runtime. -->
      <rollingStyle value="Size" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5.5thread %6.6level %message %newline" />
      </layout>
    </appender>
    <!-- Set up root logger -->
    <root>
      <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL, OFF    -->
      <level value="WARN" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="OutputDebugStringAppender" />
    </root>
  </log4net>

  
  <runtime>

  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  
            <dependentAssembly>

  
                 <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="e7570ab207bcb616" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-5.3.0.19026" newVersion="5.3.0.19026" />

  
            </dependentAssembly>

  
       </assemblyBinding>

  
  </runtime>
</configuration>
